@import "tailwindcss";

@font-face {
  font-family: 'Pixelify Sans';
  src: url('/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pixelify Sans', sans-serif !important;
}
