@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* On définit la variable de police pour créer la classe font-pixel */
  --font-pixel: "Press Start 2P", system-ui;
  
 
}